

<div class="row">
  <div class="col-md-12">
      <h1>Restaurant List</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each_with_index do |restaurant, idx| %>
        <tr>
          <td><%= idx %></td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.status %></td>
          <td><%= link_to "Show", restaurant %></td>

        </tr>
      <% end %><br>
     <%= link_to "New Restaurant", new_restaurant_path %> <br>
     <%= link_to "Dowload Restaurant",  download_restaurants_restaurants_path() %><br>
<%= form_tag(search_restaurants_restaurants_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>
     
    </tbody>
  </table>
 </div>
</div>

