<h1>New Restaurant</h1>

<%= form_with model: @restaurant do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @restaurant.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
 <div>
    <%= form.submit %>
  </div>

<% end %>


